/*
http://www.colourlovers.com/palette/2141665/S_h_e_r_l_o_c_k
237,231,190
189,238,205
167,191,160
146,144,115
124,97,70
*/
.lineCircle {
  background-color: rgb(237,231,190);
  padding: 0;
  margin: 0;
}