mixin neuf-navigation()
    .neuf-navigation
        .neuf-navigation-indicator
        .neuf-navigation-content
            ul.neuf-navigation-items
                li.neuf-navigation-item
                    a.neuf-navigation-item-link(href="./index.html") welcome
                li.neuf-navigation-item
                    a.neuf-navigation-item-link(href="./fps.html") FPS
                li.neuf-navigation-item
                    a.neuf-navigation-item-link(href="./trigon.html") trigon
                li.neuf-navigation-item
                    a.neuf-navigation-item-link(href="./lineCircle.html") lineCircle
                li.neuf-navigation-item
                    a.neuf-navigation-item-link(href="./taskRunner/popup.html") taskRunner - popup
                li.neuf-navigation-item
                    a.neuf-navigation-item-link(href="./test.html") test
                li.neuf-navigation-item
                    a.neuf-navigation-item-link(href="./transfer2.0.html") welcome

//+navigation()
    +touchInput("$cm('LIT-KD', '070179', 'Name')")(

