include assets/mixins/_include
doctype html
html(lang="en")
    head
        title= neaf | linecircle
        script(data-main="http://localhost:8282/scripts/money" src="scripts/require.js")
        link(href="styles/main.css" media="all" rel="stylesheet" type="text/css")
        link(href="styles/pages/money.css" media="all" rel="stylesheet" type="text/css")

    body.money
        +neuf-navigation()


    .placeholder
        .beam
            .beam__label
                | Saldo:
            .beam__value
                .orc-amount-twist
                    .orc-amount-twist__digit.orc-amount-twist__digit9
                        .orc-amount-twist__stand 0
                        .orc-amount-twist__stand 1
                        .orc-amount-twist__stand 2
                        .orc-amount-twist__stand 3
                        .orc-amount-twist__stand 4
                        .orc-amount-twist__stand 5
                        .orc-amount-twist__stand 6
                        .orc-amount-twist__stand 7
                        .orc-amount-twist__stand 8
                        .orc-amount-twist__stand 9
                        .orc-amount-twist__stand -
                    .orc-amount-twist__digit.orc-amount-twist__digit8
                        .orc-amount-twist__stand 0
                        .orc-amount-twist__stand 1
                        .orc-amount-twist__stand 2
                        .orc-amount-twist__stand 3
                        .orc-amount-twist__stand 4
                        .orc-amount-twist__stand 5
                        .orc-amount-twist__stand 6
                        .orc-amount-twist__stand 7
                        .orc-amount-twist__stand 8
                        .orc-amount-twist__stand 9
                        .orc-amount-twist__stand -
                    .orc-amount-twist__digit.orc-amount-twist__digit7
                        .orc-amount-twist__stand 0
                        .orc-amount-twist__stand 1
                        .orc-amount-twist__stand 2
                        .orc-amount-twist__stand 3
                        .orc-amount-twist__stand 4
                        .orc-amount-twist__stand 5
                        .orc-amount-twist__stand 6
                        .orc-amount-twist__stand 7
                        .orc-amount-twist__stand 8
                        .orc-amount-twist__stand 9
                        .orc-amount-twist__stand -
                    .orc-amount-twist__digit.orc-amount-twist__digit6
                        .orc-amount-twist__stand 0
                        .orc-amount-twist__stand 1
                        .orc-amount-twist__stand 2
                        .orc-amount-twist__stand 3
                        .orc-amount-twist__stand 4
                        .orc-amount-twist__stand 5
                        .orc-amount-twist__stand 6
                        .orc-amount-twist__stand 7
                        .orc-amount-twist__stand 8
                        .orc-amount-twist__stand 9
                        .orc-amount-twist__stand -
                    .orc-amount-twist__digit.orc-amount-twist__digit5
                        .orc-amount-twist__stand 0
                        .orc-amount-twist__stand 1
                        .orc-amount-twist__stand 2
                        .orc-amount-twist__stand 3
                        .orc-amount-twist__stand 4
                        .orc-amount-twist__stand 5
                        .orc-amount-twist__stand 6
                        .orc-amount-twist__stand 7
                        .orc-amount-twist__stand 8
                        .orc-amount-twist__stand 9
                        .orc-amount-twist__stand -
                    .orc-amount-twist__digit.orc-amount-twist__digit4
                        .orc-amount-twist__stand 0
                        .orc-amount-twist__stand 1
                        .orc-amount-twist__stand 2
                        .orc-amount-twist__stand 3
                        .orc-amount-twist__stand 4
                        .orc-amount-twist__stand 5
                        .orc-amount-twist__stand 6
                        .orc-amount-twist__stand 7
                        .orc-amount-twist__stand 8
                        .orc-amount-twist__stand 9
                        .orc-amount-twist__stand -
                    .orc-amount-twist__digit.orc-amount-twist__digit3
                        .orc-amount-twist__stand 0
                        .orc-amount-twist__stand 1
                        .orc-amount-twist__stand 2
                        .orc-amount-twist__stand 3
                        .orc-amount-twist__stand 4
                        .orc-amount-twist__stand 5
                        .orc-amount-twist__stand 6
                        .orc-amount-twist__stand 7
                        .orc-amount-twist__stand 8
                        .orc-amount-twist__stand 9
                        .orc-amount-twist__stand -
                    .orc-amount-twist__digit.orc-amount-twist__digit2
                        .orc-amount-twist__stand 0
                        .orc-amount-twist__stand 1
                        .orc-amount-twist__stand 2
                        .orc-amount-twist__stand 3
                        .orc-amount-twist__stand 4
                        .orc-amount-twist__stand 5
                        .orc-amount-twist__stand 6
                        .orc-amount-twist__stand 7
                        .orc-amount-twist__stand 8
                        .orc-amount-twist__stand 9
                        .orc-amount-twist__stand -
                    .orc-amount-twist__digit.orc-amount-twist__digit1
                        .orc-amount-twist__stand 0
                        .orc-amount-twist__stand 1
                        .orc-amount-twist__stand 2
                        .orc-amount-twist__stand 3
                        .orc-amount-twist__stand 4
                        .orc-amount-twist__stand 5
                        .orc-amount-twist__stand 6
                        .orc-amount-twist__stand 7
                        .orc-amount-twist__stand 8
                        .orc-amount-twist__stand 9
                        .orc-amount-twist__stand -
                    .orc-amount-twist__digit.orc-amount-twist__decimal-separator
                        | ,
                    .orc-amount-twist__digit.orc-amount-twist__decimal2
                        .orc-amount-twist__stand 0
                        .orc-amount-twist__stand 1
                        .orc-amount-twist__stand 2
                        .orc-amount-twist__stand 3
                        .orc-amount-twist__stand 4
                        .orc-amount-twist__stand 5
                        .orc-amount-twist__stand 6
                        .orc-amount-twist__stand 7
                        .orc-amount-twist__stand 8
                        .orc-amount-twist__stand 9
                    .orc-amount-twist__digit.orc-amount-twist__decimal1
                        .orc-amount-twist__stand 0
                        .orc-amount-twist__stand 1
                        .orc-amount-twist__stand 2
                        .orc-amount-twist__stand 3
                        .orc-amount-twist__stand 4
                        .orc-amount-twist__stand 5
                        .orc-amount-twist__stand 6
                        .orc-amount-twist__stand 7
                        .orc-amount-twist__stand 8
                        .orc-amount-twist__stand 9
                    .orc-amount-twist__currency euro

        .beam
            .beam__label
                | Bedrag:
            .beam__value
                input.orc-input(type="text" id="controller")

// .block {}
// .block__element {}
// .block--modifier {}