include assets/mixins/_include
doctype html
html(lang="en")
    head
        title= test
        script(data-main="http://localhost:8282/scripts/transfer20" src="scripts/require.js")
        link(href="styles/main.css" media="all" rel="stylesheet" type="text/css")
        link(href="styles/pages/transfer20.css" media="all" rel="stylesheet" type="text/css")
    body.transfer20


        .tranfser
            .tranfser__text 100,25
            .tranfser__supporting-text euro
            .tranfser__supporting-text naar
            .tranfser__text Jeanke Waeckens (BE 230.14.33.201)
            .tranfser__supporting-text van
            .tranfser__text gezamelijke ellen en max (BE 230.14.33.201)
            .tranfser__supporting-text met als mededeling
            .tranfser__text "verblijf alicante"
            .tranfser__supporting-text .
                //.tranfser__tooltip
                    .tranfser__tooltip__wrap
                        .tranfser__tooltip__item item 1
                        .tranfser__tooltip__item item 2
                        .tranfser__tooltip__item item 3
                        .tranfser__tooltip__item item 4
                        .tranfser__tooltip__item item 4
                        .tranfser__tooltip__item item 4
                        .tranfser__tooltip__item item 4
                        .tranfser__tooltip__item item 4
                        .tranfser__tooltip__item item 4
                        .tranfser__tooltip__item item 4
                        .tranfser__tooltip__item item 4

